body{
    background-image:url("collageBG2.jpg");
    background-size: contain;
}
.successMsg{
        display: flex;
        align-items: center;
        text-align:center;
        justify-content: center;
        width:100%;
        height:800px;
        font-size:1.4rem;
          color:black;
          font-family: 'Amatic SC', sans-serif;
          font-size:30px;
          
    
        }

 